.calender {
  background-color: green;
}

.old-state {
  z-index: 0;
}
.new-state {
  z-index: 2;
  transition: transform .4s;
}
.from-right {
  transform: translate(100%, 0);
}

.dashboard {
  background-color: blue;
}

.inbox {
  background-color: yellow;
}

.route-handler {
  position: absolute;
  width: 100%;
}

.route-left-enter {
  transform: translate(100%, 0);
  transition: transform .5s ease-in;
}

.route-left-enter.route-left-enter-active {
  transform: translate(0, 0);
}

.route-left-leave {
  transform: translate(0, 0);
  transition: transform .5s ease-in;
}

.route-left-leave.route-left-leave-active {
  transform: translate(-100%, 0);
}


.route-right-enter {
  transform: translate(-100%, 0);
  transition: transform .5s ease-in;
}

.route-right-enter.route-right-enter-active {
  transform: translate(0, 0);
}

.route-right-leave {
  transform: translate(0, 0);
  transition: transform .5s ease-in;
}

.route-right-leave.route-right-leave-active {
  transform: translate(100%, 0);
}
