.calender {
  background-color: green;
}

.old-state {
  z-index: 0;
}
.new-state {
  z-index: 2;
  transition: transform .4s;
}
.from-right {
  transform: translate(100%, 0);
}

.dashboard {
  background-color: blue;
}

.inbox {
  background-color: yellow;
}
