.calender {
  background-color: green;
}

.trans {
  transition: transform .4s;
}
.from-right {
  transform: translate(100%, 0);
}

.dashboard {
  background-color: blue;
}

.inbox {
  background-color: yellow;
}
